{{>header}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/saugat.jpg" alt="Saugat Bhattarai Image" class="img-fluid" title="Saugat Bhattarai" width="400px">
                        </figure>
                       </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am A <span class="text_clr">Mern Stack Developer</span> AI Enthusiast and A Freelancer</h1>
                        <a href="http://saugatbhattarai.com" target="_blank"><button>About Me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
{{>footer}}